* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
}

body {
    font-family: arial, sans-serif;
    font-size:14px;
    color:#222;
}

ul {
    list-style: none;
}

/* Icons */
span.material-icons {
    color: #5f6368;
}

/* Links */
a {
    color:#222;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
.btn {
    background:#4285f4;
    color:#fff;
    border-radius:3px;
    padding:.5rem 1rem;
    font-weight: bold;
}
.grey-btn {
    background:#f5f5f5;
    color:#666;
    font-weight:100;
}
a.btn:hover {
    text-decoration: none;
}

/* Header */
header {
    padding:1rem 1.5rem;
    position: absolute;
    width:100%;
    top:0;
    left:0;
}

nav {
    display:flex;
    flex-shrink:0;
}

nav ul.utility {
    width: 20%;
    display:flex;
    list-style: none;
    align-items: center;
}
nav ul.utility li:not(:last-child) {
    margin-right:1rem;
}

nav ul.account {
    width:80%;
    display:flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
nav ul.account li:not(:last-child) {
    margin-right:1rem;
}

/* Search Container */
.search-container {
    display:flex;
    flex-direction: column;
    transform:translateY(12.5rem);
}

/* Logo */
.logo {
    display:flex;
    flex-shrink:0;
    flex-direction: column;
    align-items: center;
    margin-bottom:1.5rem;
}

.logo img {
    max-width:272px;
}

/* Search Field */
.search-field {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-shrink:0;
}
form {
    width:100%;
    display: flex;
    flex-direction: column;
}
.input-container {
    position:relative;
    display:flex;
    justify-content: center;
    align-self: center;
    width:100%;
    max-width: 584px;
}
.input-container span {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    color:#bbb;
}
.input-container span.search-icon {
    left:1rem;
}
.input-container span.mic-icon {
    right:1rem;
}

.search-input {
    width:100%;
    border:1px solid #dfe1e5;
    border-radius:30px;
    padding:.7rem 1rem .7rem 3rem;
    font-size:1.1rem;
}

.search-input:hover {
    box-shadow: 0px 0px 10px #eee;
}

.search-options {
    display:flex;
    justify-content: center;
    margin-top: 1rem;;
}
.search-options a:not(:last-child) {
    margin-right:1rem;
}

/* Footer */
footer {
    display:flex;
    position: absolute;
    bottom:0;
    background:#eee;
    border-top:1px solid#ddd;
    width:100%;
    padding:1rem 2rem;
}
.utility-nav {
    width:50%;
    display:flex;
    justify-content: flex-start;
}
.privacy-nav {
    width:50%;
    display: flex;
    justify-content: flex-end;
}
.utility-nav li:not(:last-child),
.privacy-nav li:not(:last-child) {
    margin-right:1rem;
}
.utility-nav a,
.privacy-nav a {
    color:#888;
}

@media (max-width:579px) {
    header {
        padding:.5rem;
    }
    nav ul.utility.utility {
        display:none;
    }
    nav ul.account {
        width:100%;
    }
    nav ul.account li:first-child,
    nav ul.account li:nth-child(2) {
        display:none;
    }
    .btn {
        padding:.5rem 1rem;
        font-size:.8rem;
    }
    .search-container {
        transform:translateY(7rem);
    }
    .logo img {
        width:60%;
    }
    form .input-container {
        width:80%;
    }
    .utility-nav {
        display: none;
    }
    .privacy-nav {
        width:100%;
        font-size:.8rem;
        justify-content: center;
    }
}